.addition {
  &__title {
    padding-top: 22px;
    padding-bottom: 34px;
    font-family: @special_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: @basic_black;
    text-align: left;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: 12px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__text {
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @basic_black;
    text-transform: uppercase;
    text-align: left;
  }
}
