.addition {
  position: relative;
}

.addition__title-box {
  position: relative;
  display: block;
  margin: 20px 0 35px 0;

  & span {
    display: inline-block;
    max-width: 187px;
    margin: 0 0 0 -20px;
    padding: 0 20px 0 20px;
    background-color: @basic_white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    background-color: @basic_green;
    width: 100%;
    height: 2px;
    z-index: -1;
  }
}

.addition__container {
  max-width: 280px;
}

.addition__title-text {
  margin: 0 20px 0 0;
  padding-left: 20px;
  font-family: @special_font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  text-align: left;
  white-space: break-spaces;
}

.addition__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 20px;
}

.addition__item {
  padding-bottom: 18px;

  &:last-child {
    padding-bottom: 0;
  }
}

.addition__text {
  padding-left: 16px;
  padding-top: 6px;
  font-family: @special_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @basic_black;
  text-transform: uppercase;
  text-align: left;
}

.addition__input {
  position: absolute;
  appearance: none;
}

.addition__checkbox {
  position: absolute;
  margin-left: -28px;
  width: 26px;
  height: 26px;
  background-color: @basic_white;
  border: 1px solid @special_grey-5;
  cursor: pointer;
}

.addition__input:checked + .addition__checkbox {
  background-image: url("../img/form/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.addition__input:disabled + .addition__checkbox {
  opacity: 0.3;
}

.addition__input:disabled + .addition__checkbox + .addition__text {
  opacity: 0.3;
}

.addition__input:checked:disabled + .addition__checkbox {
  opacity: 0.3;
}

.addition__input:disabled:hover + .addition__checkbox {
  border: 1px solid @special_grey-5;
}

.addition__input:hover + .addition__checkbox {
  border: 1px solid @special_grey-9;
}

.addition__input:focus + .addition__checkbox {
  border: 1px solid @special_dark-grey;
}

.addition__label {
  display: flex;
  align-items: flex-start;
  padding-left: 28px;
}

@media (min-width: @tablet-width) {
  .addition__title-box {
    margin: 10px 0 60px 0;

    & span {
      max-width: 708px;
      margin: 0;
      padding-left: 40px;
      padding-right: 40px;
    }

    &::after {
      top: 22px;
    }
  }

  .addition__container {
    max-width: 708px;
    margin: 0 auto;
  }

  .addition__title-text {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }

  .addition__list {
    width: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    grid-row-gap: 42px;
    padding: 0;
    margin: 0 auto 60px auto;
    align-items: center;
  }

  .addition__item {
    padding: 0;
  }

  .addition__label {
    padding-left: 26px;
    align-items: center;
  }

  .addition__text {
    padding-left: 33px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }

  .addition__checkbox {
    margin-left: -28px;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .addition__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto 66px auto;
    align-items: center;
    width: 1220px;
  }

  .addition__container {
    max-width: 1220px;
    margin: 0 auto;
  }

  .addition__title-text {
    padding-left: 0;
    padding-top: 0;
    margin-left: -40px;
  }

  .addition__title-box {
    margin: 65px 0 60px 0;
  }
}
