.cat-info {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: 14px;
  }

  &__text {
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    text-transform: uppercase;
    text-align: left;
  }

  &__field {
    height: 45px;
    border: 1px solid @special_grey-4;
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    text-transform: uppercase;
  }
}
