.catalog__title {
  font-family: @special_font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;
  text-align: left;
  margin: 28px 0 40px 20px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding: 20px 0 0 0;
  border-top: 1px solid @special_grey-6;

  &:last-child {
    border-bottom: 1px solid @special_grey-6;
  }
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    padding: 0;
  }

  .catalog__product--more {
    background-color: @basic_white;
    border: 2px solid @basic_grey;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 768px;
    padding-left: 30px;
    display: block;
    box-sizing: border-box;
    margin: 59px auto 162px auto;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 141px;
    column-gap: 60px;
    width: 708px;
    margin: 0 auto;
  }

  .catalog__item {
    min-height: 430px;
    background-color: @basic_grey;
    border: none;
    padding: 0;

    &:last-child {
      border: none;
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    padding: 0;
  }

  .catalog__title {
    max-width: 1440px;
    padding-left: 110px;
    margin: 70px auto 165px auto;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    grid-row-gap: 144px;
    width: 1220px;
  }
}
