.catalog-addition {
  &__wrapper {
    padding: 0 20px;
  }

  &__title {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 36px;
    font-family: @special_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: @basic_black;
    text-align: left;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-top: 13px;
    padding-bottom: 19px;
    border-top: 1px solid @special_grey-5;
  }

  &__item:last-child {
    border-bottom: 1px solid @special_grey-5;
  }

  &__promo {
    width: auto;
    margin: 0 20px;
    background-color: @basic_green;
    background-image: url("../img/bg_promo.jpg");
    background-size: 100%;
    background-position: center;
  }

  &__promo-text {
    margin: 39px;
    padding-top: 186px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: @basic_white;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      padding: 0 30px;
    }

    &__promo {
      margin: 0 30px;
    }

    &__title {
      padding-left: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 86px;

    &__wrapper {
      padding: 0 0 0 110px;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    &__item {
      padding: 15px 0;
    }

    &__promo {
      margin: 0;
    }

    &__promo-text {
      padding: 0;
    }

    &__title {
      padding-left: 110px;
    }
  }
}
