.comment {
  position: relative;

  &__wraper {
    padding: 0 20px;
  }

  &__title {
    padding-left: 20px;
    margin-top: 23px;
    font-family: @special_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: @basic_black;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      background-color: @basic_green;
      width: 100%;
      height: 2px;
      top: 16px;
      margin-left: 23px;
    }
  }

  &__text {
    padding-top: 9px;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 37px auto 0 auto;
    width: 100%;
    min-height: 150px;
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    resize: none;
    overflow: auto;
    color: @special_dark-grey;
    text-transform: uppercase;
    border: 1px solid @special_grey-4;

    &:hover {
      border: 1px solid @special_grey-5;
    }

    &:focus {
      border: 1px solid @special_dark-grey;
      outline: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-right: 36px;

    &__text {
      min-height: 174px;
      margin-top: 76px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
