.contacts {
  &__box {
    background-color: @basic_white;
  }

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special_black;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 28px;
    text-transform: uppercase;
  }

  &__address {
    margin: 0;
    font-family: @basic_font;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: @special_dark-grey;
  }
}
