.contacts__box {
  padding: 0 20px;
  min-height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @basic_white;

  &--color {
    background-color: @basic_grey;
  }
}

.contacts__title {
  margin: 0;
  font-family: @special_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special_black;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  font-family: @basic_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
}

.contacts__maps {
  position: relative;
}

.contacts__maps-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.contacts__maps-img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.contacts__maps-google {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .contacts {
    background-color: @basic_white;
  }

  .contacts__box {
    padding: 60px 30px 53px 30px;
    min-height: auto;
    background-color: @basic_white;

    &--color {
      background-color: @basic_grey;
    }
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    margin-left: 40px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 30px;
    margin-right: 40px;
    text-align: right;
  }

  .contacts__maps-img {
    height: 400px;
  }

  .contacts__maps-google {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-color: @basic_white;
  }

  .contacts__box {
    position: absolute;
    box-sizing: border-box;
    padding: 0 50px 0 35px;
    width: 570px;
    height: 200px;
    margin: 100px 0 0 110px;
    background-color: @basic_white;
    z-index: 2;

    &--color {
      background-color: @basic_white;
    }
  }

  .contacts__address {
    text-align: left;
  }
}
