.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 13px 0;
  border-top: 1px solid @special_grey-3;
  margin: 0 20px;

  &__text {
    margin: 0;
    font-family: @basic_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    margin-bottom: 9px;
  }

  &__link {
    margin-bottom: 3px;
  }
}
