.effect-slider {
  &__list {
    list-style: none;
    padding: 42px 0 0 0;
  }

  &__label {
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: @basic_black;
    text-transform: uppercase;
    border: none;
  }
}
