.example {
  background-color: @special_grey-2;

  &__wrapper {
    padding: 0 20px;
  }

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: @basic_black;
    text-align: left;
    padding-top: 27px;
    padding-bottom: 33px;
  }

  &__description {
    margin: 0;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 26px;
  }

  &__stats-value {
    margin: 0;
    width: 124px;
  }

  &__text {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: @basic_black;
  }

  &__text span {
    font-family: @basic_font;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: @special_dark-grey;
  }

  &__cost {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: @basic_black;
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_white;

    &__wrapper {
      padding: 0 30px;
    }

    &__stat-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 54px;
    }

    &__stats {
      margin: 0;
    }

    &__stats-value {
      width: 162px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    &__wrapper {
      padding: 0 110px;
    }

    &__stats-value {
      width: 162px;
    }

    &__stat-block {
      display: block;
    }

    &__stats {
      justify-content: left;
      padding-bottom: 55px;
    }
  }
}
