.example {
  background-color: @special_grey-2;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  margin: 0;
  font-family: @special_font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic_black;
  text-align: left;
  padding-top: 27px;
  padding-bottom: 33px;
  padding-left: 20px;
}

.example__description {
  margin: 0;
}

.example__stats {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 34px;
}

.example__stats-value {
  margin: 0 33px 0 0;
  width: 122px;
  height: 54px;
  border: 1px solid @special_grey-5;
  border-radius: 4px;

  &:last-child {
    margin: 0;
  }
}

.example__text {
  margin: 13px 0 0 0;
  font-family: @special_font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic_black;
  text-align: center;
  text-transform: uppercase;
}

.example__desc {
  display: inline-block;
  background-color: @special_grey-2;
  font-family: @basic_font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
  text-transform: lowercase;
  text-align: center;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 20px;
}

.example__cost {
  margin: 0;
  font-family: @special_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @basic_black;
  text-align: center;
  text-transform: uppercase;

  & br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @basic_white;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .example__title {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin: 44px auto 65px auto;
    max-width: 768px;
    display: block;
    box-sizing: border-box;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 2px;
  }

  .example__stats {
    margin: 50px 0 0 0;
  }

  .example__stats-value {
    margin: 0 40px 0 0;
    width: 161px;
    height: 70px;
  }

  .example__text {
    margin: 19px 0 0 0;
    font-size: 30px;
    line-height: 30px;
  }

  .example__desc {
    margin-top: 9px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic_white;
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }

  .example__cost {
    margin-top: 57px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;

    & br {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin: 0 auto;
  }

  .example__box {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 80px;
    background-color: @basic_grey;
    padding: 0 110px;
    margin: 0 auto;
    justify-content: center;
  }

  .example__title {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 27px;
    padding-left: 110px;
    padding-bottom: 75px;
    margin: 0 auto;
    max-width: 1440px;
    display: block;
    box-sizing: border-box;
  }

  .example__wrapper {
    padding: 0;
    width: 570px;
  }

  .example__cost {
    margin-top: 0;
    text-align: left;

    & br {
      display: none;
    }

    & span {
      padding-left: 65px;
    }
  }

  .example__desc {
    background-color: @basic_grey;
    padding: 0 7px;
  }

  .example__text {
    margin: 16px 0 0;
  }

  .example__stats-block {
    display: block;
    min-height: auto;
  }

  .example__stats {
    justify-content: left;
    padding-bottom: 55px;
    margin: 68px 0 0 0;
  }

  .example__description {
    margin-top: 73px;
    margin-right: 131px;
  }
}
