.features {
  &__wrapper {
    background-color: @basic_grey;
  }

  &__list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: @basic_black;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
  }

  &__link {
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @basic_black;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
  }
}
