.main-nav {

  &__wrapper{
    height: 198px;
  }

  &__list{
    list-style: none;
    padding: 0;
    text-align: center;
  }

  &__item a{
    font-family: @special_font-2;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: @basic_black;
    text-decoration: none;
    text-transform: uppercase;
  }
}
