.main-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    animation: bounce 0.5s;
  }

  &__item {
    border-top: 1px solid @special_grey-7;
  }

  &__item:last-child {
    border-bottom: 1px solid @special_grey-7;
  }

  &__link {
    font-family: @special_font-2;
    font-weight: 500;
    font-size: 20px;
    line-height: 65px;
    color: @basic_black;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media (max-width: @mobile-width-only) {
    &--closed &__list {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    &__list {
      width: 440px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      animation: none;
    }

    &__toggle {
      display: none;
    }

    &__item {
      border: none;
    }

    &__item:last-child {
      border: none;
    }
  }

  @media (min-width: @desktop-width) {
    &__list {
      width: 478px;
    }
  }
}
