.owner-contacts {
  padding-bottom: 23px;
  position: relative;
}

.owner-contacts__title {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding-left: 20px;
  padding-top: 26px;
  padding-bottom: 35px;
  font-family: @special_font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  text-align: left;
  white-space: break-spaces;

  &::after {
    content: "";
    background-color: @basic_green;
    width: auto;
    height: 2px;
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 15px;
  }
}

.owner-contacts__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.owner-contacts__item {
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }
}

.owner-contacts__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner-contacts__icon {
  position: absolute;

  &--email {
    stroke: @special_dark-grey-2;
    width: 20px;
    height: 15px;
    right: 15px;
  }

  &--tel {
    fill: @special_dark-grey-2;
    width: 20px;
    height: 21px;
    right: 15px;
  }
}

.owner-contacts__field {
  flex: 1;
  height: 41px;
  border: 1px solid @special_grey-4;
  font-family: @special_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 40px;

  &::placeholder {
    color: @special_dark-grey;
    opacity: 1;
  }

  &:hover {
    border: 1px solid @special_grey-5;
  }

  &:focus {
    border: 2px solid @special_dark-grey;
    outline: none;
  }

  &:invalid {
    border: 2px solid @special_red_error;
  }
}

.owner-contacts__field:focus + .owner-contacts__icon--email {
  stroke: @basic_green;
}

.owner-contacts__field:focus + .owner-contacts__icon--tel {
  fill: @basic_green;
}

.owner-contacts__field:invalid + .owner-contacts__icon--email {
  stroke: @special_red_error;
}

.owner-contacts__field:invalid + .owner-contacts__icon--tel {
  fill: @special_red_error;
}

.owner-contacts__text {
  font-family: @special_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
  text-align: left;
  margin-right: 8px;
}

@media (min-width: @tablet-width) {
  .owner-contacts__title {
    padding-left: 0;
    padding-top: 9px;
    padding-bottom: 74px;
    font-size: 36px;
    line-height: 36px;

    & br {
      display: none;
    }

    &::before {
      content: "";
      width: 30px;
      background-color: @basic_green;
      height: 2px;
      margin-right: 40px;
      margin-top: 20px;
    }

    &::after {
      height: 2px;
      width: 10px;
      margin-left: 42px;
      margin-top: 20px;
    }
  }

  .owner-contacts__field {
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 45px;
  }

  .owner-contacts__text {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .owner-contacts__item {
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 15px;

    &:last-child {
      padding-bottom: 42px;
    }
  }

  .owner-contacts__list {
    width: 667px;
    margin: 0 auto;
    padding: 0;
  }

  .owner-contacts__icon {
    &--email {
      width: 20px;
      height: 14px;
      right: 17px;
    }

    &--tel {
      right: 17px;
    }
  }
}

@media (min-width: @desktop-width) {
  .owner-contacts {
    padding-bottom: 20px;
  }

  .owner-contacts__title {
    padding-left: 0;
    padding-top: 4px;

    &::before {
      width: 70px;
    }

    &::after {
      margin-left: 49px;
    }
  }

  .owner-contacts__field {
    margin-right: 0;
  }

  .owner-contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    grid-row-gap: 20px;
    padding: 0 0 47px 0;
    width: 1220px;
  }

  .owner-contacts__item {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
