.page-header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 20px;
  }

  &__logo-text {
    margin-right: 11px;
    margin-top: 4px;
  }

  &__burger {
    display: block;
    cursor: pointer;
    border: none;
    width: 24px;
    height: 24px;
    background-color: @basic_white;
  }

  &__burger::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 18px;
    right: 20px;
    top: 23px;
    background-image: url("../img/icon/burger_open.svg");
    background-position: center;
  }

  &__burger--closed::before {
    content: "";
    background-color: @basic_white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 22px;
    top: 21px;
    background-image: url("../img/icon/burger_close.svg");
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    &__burger {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
  }
}
