.page-footer {
  display: flex;
  flex-direction: column;
  background-color: @basic_grey;
}

.page-footer__logo {
  &--text {
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__inner-box {
    box-sizing: border-box;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__inner-box {
    box-sizing: border-box;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 110px 0 110px;
    width: 1440px;
    margin: 0 auto 40px auto;
  }
}
