.principle {
  padding: 0 20px;
  min-height: 447px;

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: @basic_black;
    text-align: left;
    padding-top: 27px;
    padding-bottom: 38px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    min-height: 60px;
    padding-bottom: 20px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__description {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;

    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }
  }
}
