.principle {
  margin-top: 27px;
  margin-bottom: 42px;
  padding: 0 20px;

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: @basic_black;
    text-align: left;
    padding-bottom: 38px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    min-height: 60px;
    padding-bottom: 20px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__item--useful::before {
    content: "";
    position: absolute;
    background-color: @basic_green;
    background-image: url("../img/icon/useful.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  &__item--convenient::before {
    content: "";
    position: absolute;
    background-color: @basic_green;
    background-image: url("../img/icon/convenient.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  &__item--easy::before {
    content: "";
    position: absolute;
    background-color: @basic_green;
    background-image: url("../img/icon/easy.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  &__item--fast::before {
    content: "";
    position: absolute;
    background-color: @basic_green;
    background-image: url("../img/icon/fast.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    margin: 2px 0 0 80px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid @basic_grey;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      grid-row-gap: 35px;
      justify-content: flex-start;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 72px;
    }

    &__item {
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 280px;

      &--useful {
        background-image: url("../img/1.png");
        background-repeat: no-repeat;
        background-position: 122px 0;
      }

      &--convenient {
        background-image: url("../img/2.png");
        background-repeat: no-repeat;
        background-position: 122px 0;
      }

      &--easy {
        background-image: url("../img/3.png");
        background-repeat: no-repeat;
        background-position: 122px 0;
      }

      &--fast {
        background-image: url("../img/4.png");
        background-repeat: no-repeat;
        background-position: 122px 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &--useful::before,
      &--convenient::before,
      &--easy::before,
      &--fast::before {
        position: relative;
        width: 80px;
        height: 80px;
      }
    }

    &__description {
      margin: 0 60px 0 0;
      padding-top: 31px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;

    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }
  }
}
