.product-addition {
  &__title {
    margin: 0;
    padding: 12px 0 14px 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @special_dark-grey-2;
    text-align: left;
    text-transform: uppercase;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__volume {
    line-height: 14px;
  }

  &__value {
    line-height: 14px;
  }

  &__button {
    margin: 15px 0 17px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin: 20px 38px;

    &__button {
      grid-column-start: 1;
      grid-column-end: 3;
      width: auto;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    align-items: center;
    margin: 0;

    &__button {
      grid-column-start: 3;
      grid-column-end: 4;
      width: auto;
      margin: 0;
    }

    &__title {
      padding: 0;
    }

    &__description {
      margin: 0;
    }
  }
}
