.product {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__image-link {
    align-self: center;
    justify-self: center;
  }

  &__title-link {
    text-decoration: none;
  }

  &__title-text {
    margin: 0;
    padding-bottom: 18px;
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: @special_dark-grey-2;
    text-align: left;
    text-transform: uppercase;
  }

  &__field {
    font-size: 12px;
    line-height: 16px;
  }

  &__value {
    font-size: 12px;
    line-height: 16px;
  }

  &__button {
    display: block;
    box-sizing: border-box;
    margin: 13px auto 15px auto;
    width: 280px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }

  @media (min-width: @tablet-width) {
    min-height: 430px;
    background-color: @basic_grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__title-text {
      text-align: center;
    }
  }
}
