.product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.product__inner {
  display: flex;
  flex-direction: column;
}

.product__image-link {
  align-self: flex-end;
  justify-self: center;
  margin: 0 auto;
}

.product__title-link {
  text-decoration: none;
}

.product__title-text {
  margin: 0;
  padding: 0 40px 14px 0;
  font-family: @special_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  text-align: left;
  text-transform: uppercase;
}

.product__description {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.product__field {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
}

.product__value {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  vertical-align: middle;
}

.product__button {
  display: block;
  box-sizing: border-box;
  margin: 20px 20px 25px 20px;
  width: auto;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}

@media (min-width: @tablet-width) {
  .product {
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
  }

  .product__img {
    width: auto;
    height: auto;

    &--small {
      margin-top: -44px;
      margin-bottom: 30px;
    }

    &--big {
      margin-top: -75px;
      margin-bottom: 30px;
    }
  }

  .product__title-link {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .product__title-text {
    text-align: center;
    margin: 0;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
  }

  .product__field {
    padding: 6px 0 7px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid @special_grey-5;
  }

  .product__value {
    padding: 6px 0 7px 0;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid @special_grey-5;
  }

  .product__button {
    margin: 0 37px 38px 39px;
  }
}

@media (min-width: @desktop-width) {
  .product__title-text {
    padding: 0 15px;
  }
}
