.programm {
  padding: 22px 0 0 0;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding-bottom: 12px;
  }

  &__item:last-child {
    padding-bottom: 22px;
  }

  &__text {
    font-family: @special_font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey-2;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    &__field {
      margin-right: 36px;
    }

    &__item {
      padding-bottom: 13px;
      margin-left: 28px;
    }

    &__item:last-child {
      padding-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    &__field {
      margin-right: 0;
    }
  }
}
