.social {
  width: 130px;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 15px 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  &__link {
    color: @special_grey;
    text-decoration: none;
  }

  &__logo {
    &--vkontakte {
      fill: @special_grey;
    }

    &--instagram {
      fill: @special_grey;
    }

    &--facebook {
      stroke: @special_grey;
      fill: none;
    }

    &--vkontakte:hover {
      fill: @basic_green;
    }

    &--instagram:hover {
      fill: @basic_green;
    }

    &--facebook:hover {
      stroke: @basic_green;
    }

    &--vkontakte:active {
      opacity: 0.3;
    }

    &--instagram:active {
      opacity: 0.3;
    }

    &--facebook:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    &__list {
      border: none;
      padding: 0;
    }

    &__logo {
      &--vkontakte {
        width: 30px;
        height: 22px;
      }

      &--instagram {
        width: 23px;
        height: 23px;
      }

      &--facebook {
        width: 28px;
        height: 33px;
      }
    }
  }
}
