.welcome{
  padding-bottom: 22px;

  &__wrapper{
    width: 320px;
    height: 302px;
    background-color: @basic_green;
    background-image: url("../img/bg_cat.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__title{
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @basic_white;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  &__text{
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @basic_white;
    text-transform: uppercase;
    text-align: center;
  }

  &__buttom{
    display: inline-block;
    box-sizing: border-box;
    line-height:40px;
  }
}
