.welcome {
  padding-bottom: 22px;

  &__wrapper {
    height: 302px;
    background-color: @basic_green;
    background-image: url("../img/bg_cat.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @basic_white;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  &__text {
    margin: 0;
    font-family: @special_font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @basic_white;
    text-transform: uppercase;
    text-align: center;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-top: -135px;
  }

  &__buttom {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 280px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      background-color: @basic_white;
      background-image: none;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__title {
      color: @basic_black;
      text-align: left;
    }

    &__text {
      color: @basic_black;
      text-align: left;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
