// Colors

@basic_white: #ffffff;
@basic_green: #68B738;
@basic_black: #000000;
@basic_grey: #F2F2F2;
@basic_green-2: #5EAA2F;
@special_black: #111111;
@special_grey: #666666;
@special_grey-2: #EAEAEA;
@special_grey-3: #D9D9D9;
@special_grey-4: #E7E7E7;
@special_grey-5: #CDCDCD;
@special_grey-6: #EBEBEB;
@special_grey-7: #E6E6E6;
@special_grey-8: #DCDCDC;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;

//Fonts

@basic_font: Arial, sans-serif;
@special_font: "Oswald-Regular", Arial, sans-serif;
@special_font-2: "Oswald-Medium", Arial, sans-serif;

//Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
